<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Tests" parallel = "tests" thread-count="2">
    <test name="chrome">
        <classes>
            <class name=""></class>
        </classes>
    </test>
    <test name="firefox">
        <classes>
            <class name=""></class>
        </classes>
    </test>
</suite>